<h1>Restaurantes Afiliados</h1>

<table class="table table-striped table-hover">
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Category</th>
	  <th>Tags</th>
	  <th>Lat</th>
	  <th>Lon</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @restaurants.each do |restaurant| %>
	  <tr>
		<td><%= restaurant.name %></td>
		<td><%= restaurant.category %></td>
		<td class="tag_list"><%= raw restaurant.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
		<td><%= restaurant.lat %></td>
		<td><%= restaurant.lon %></td>
		<td><%= link_to 'Ver', restaurant, :class => 'btn btn-primary' %></td>
		<td><%= link_to 'Editar', edit_restaurant_path(restaurant), :class => 'btn btn-primary' %></td>
		<td><%= link_to 'Eliminar', restaurant, method: :delete, data: { confirm: '¿Está seguro que quiere eliminar el restaurante de la lista?' }, :class => 'btn btn-danger' %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br>

<%= link_to 'Afiliar restaurante', new_restaurant_path, :class => 'btn btn-primary' %>
