<h1>Restaurantes Afiliados</h1>

<table class="table table-striped table-hover">
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Category</th>
	  <th>Lat</th>
	  <th>Lon</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @restaurants.each do |restaurant| %>
	  <tr>
		<td><%= restaurant.name %></td>
		<td><%= restaurant.category %></td>
		<td><%= restaurant.lat %></td>
		<td><%= restaurant.lon %></td>
		<td><%= link_to 'Show', restaurant, :class => 'btn btn-primary' %></td>
		<td><%= link_to 'Edit', edit_restaurant_path(restaurant), :class => 'btn btn-primary' %></td>
		<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
